<template name="Resource">
  <section class="content-header">
      <h1 class="align-center">

      </h1>
  </section>
  <section class="content">

    <div class="pull-right  form-group">
    <form >
    <div><input id="search" class="form-control" placeholder="Search"></div>
    </form>
  </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tbody ><tr>
          <!-- <th></th> -->
          <th style="width: 10px">№</th>
          <th>Название</th>
          <th>Количество</th>

        </tr>
            {{#each resource}}
        <tr>
          <td>{{incIndex @index}}</td>
          <td class="name" contenteditable>{{name}}</td>
            <td  class="sht"  contenteditable>{{sht}}</td>
          <!-- <td><input type="radio"></td>   -->


        </tr>
           {{/each}}
      </tbody> </table>


     </div>
  </section>
</template>
